Repository sounisi5011/package-version-git-tag: changes, and which lefthook commands are due for each by the changed paths.
All: 1_prettier, 2_format-package-json, 3_eslint

1_prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}

2_format-package-json:
  run: npx prettier-package-json --write {staged_files} && npx sort-package-json {staged_files} && git add {staged_files}

3_eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

💚 [Debug] Try to overwrite npm without Corepack
  .github/workflows/ci.yaml
Due: 1_prettier

⏪ Revert "💚 [Debug] Try to overwrite npm without Corepack"
  .github/workflows/ci.yaml
Due: 1_prettier

⏪ Revert "💚 [Debug] Display npm versions in various Node.js" and "💚 [Debug] Strictly check the npm version"
  .github/workflows/ci.yaml
  README.md
  package.json
  test/index.ts
Due: 1_prettier, 2_format-package-json, 3_eslint

⬆️ Update dependency can-npm-publish to 1.3.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

⬆️ Update dependency del-cli to 5.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

⬆️ Update dependency escape-string-regexp to 4.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

⬆️ Update dependency patch-package to 6.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

⬆️ Update dependency git-branch-is to 4.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

⬆️ Update dependency prettier to 2.8.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

⬆️ Update dependency prettier-package-json to 2.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

⬆️ Update dependency sort-package-json to 2.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

⬆️ Update dependency eslint to 8.36.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

📝 Update CHANGELOG
  CHANGELOG.md
Due: none

🔧 Fix dependency version range: Use SemVer range for "cac" package version
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

🔧 Regenerate package-lock.json
  package-lock.json
Due: 1_prettier

⬆️ Update dependency escape-string-regexp to 5.0.0
  CHANGELOG.md
  package-lock.json
  package.json
  test/index.ts
Due: 1_prettier, 2_format-package-json, 3_eslint

⬇️ Downgrade dependency escape-string-regexp to 4.0.0
  CHANGELOG.md
  package-lock.json
  package.json
  test/index.ts
Due: 1_prettier, 2_format-package-json, 3_eslint

⬆️ Update dependency execa to 7.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  test/helpers/git.ts
Due: 1_prettier, 2_format-package-json, 3_eslint

⬇️ Downgrade dependency execa to 5.1.1
  CHANGELOG.md
  package-lock.json
  package.json
  test/helpers/git.ts
Due: 1_prettier, 2_format-package-json, 3_eslint

⬆️ Update dependency ava to 5.2.0
  .eslintrc.yml
  .prettierrc.yml
  CHANGELOG.md
  ava.config.mjs
  lefthook.yml
  package-lock.json
  package.json
  test/index.ts
Due: 1_prettier, 2_format-package-json, 3_eslint

⬇️ Downgrade dependency ava to 4.3.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

⬇️ Downgrade dependency ava to 3.15.0
  .eslintrc.yml
  .prettierrc.yml
  CHANGELOG.md
  ava.config.js
  lefthook.yml
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json, 3_eslint

🚚 Rename `ava.config.js` file to `ava.config.cjs`
  .eslintrc.yml
  .prettierrc.yml
  ava.config.cjs
  lefthook.yml
  package.json
Due: 1_prettier, 2_format-package-json

🔧 Modify `lefthook.yml` file
  lefthook.yml
Due: 1_prettier

✅ Reduce differences in test code from branch `master`
  test/index.ts
Due: 3_eslint

⬆️ Update dev dependencies (#185)
  .eslintrc.yml
  .github/workflows/ci.yaml
  .huskyrc.yml
  .lintstagedrc.js
  .prettierrc.yml
  CHANGELOG.md
  ava.config.cjs
  ava.config.js
  lefthook.yml
  package-lock.json
  package.json
  patches/check-peer-deps+1.1.3.patch
  src/bin.ts
  src/git.ts
  src/index.ts
  src/utils.ts
  test/helpers/exec.ts
  test/helpers/git-server.ts
  test/helpers/git.ts
  test/index.ts
  tsconfig.json
  types.node_modules/node-git-server.d.ts
Due: 1_prettier, 2_format-package-json, 3_eslint

💚 Run unit tests on the master branch
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Run unit tests on the master branch (#188)
  .github/workflows/ci.yaml
  CHANGELOG.md
Due: 1_prettier

🔧 Update `.renovaterc.json` file
  .renovaterc.json
Due: 1_prettier

🔧 Rewrite `.renovaterc.json` to JSON5
  .renovaterc.json
  .renovaterc.json5
  lefthook.yml
Due: 1_prettier

🔧 Disable major npm updates by Renovate bot
  .renovaterc.json5
Due: none

🔧 Update `.renovaterc.json` file (#193)
  .renovaterc.json
  .renovaterc.json5
  CHANGELOG.md
  lefthook.yml
Due: 1_prettier

🙈 Ignore `.node-version` files
  .gitignore
Due: none

🙈 Ignore `.node-version` files (#194)
  .gitignore
  CHANGELOG.md
Due: none

📝 Update README.md
  README.md
Due: none

Path conditions:
  1_prettier: any of: *.{js,json,yaml,yml}
  2_format-package-json: any of: {,**/}package.json
  3_eslint: any of: *.{ts,js}
