Repository sounisi5011/package-version-git-tag: changes, and which lefthook commands are due for each by the changed paths.
All: 1_prettier, 2_format-package-json, 3_eslint

lefthook.yml:

pre-commit:
  piped: true

  # Always prints the output of each command.
  # This allows the error log to be checked even if the command becomes busy.
  follow: true

  commands:
    0_test-readme:
      # If "{REPO_ROOT}/README.md" is staged, test it
      # Note: README.md files in subdirectories are not included
      files: git diff --name-only --cached | grep -Fx README.md || true
      run: npx run-s test:readme
    1_prettier:
      glob: "*.{js,json,yaml,yml}"
      run: >-
        npx prettier --write {staged_files}
        && git add {staged_files}
    2_format-package-json:
      # Note: If "package.json" is specified, only the root package.json file will be included.
      #       If "**/package.json" is specified, only package.json files in subdirectories will be included.
      #       To include both, it appears that the "{,**/}package.json" pattern should be used.
      glob: "{,**/}package.json"
      run: >-
        npx prettier-package-json --write {staged_files}
        && npx sort-package-json {staged_files}
        && git add {staged_files}
    3_eslint:
      glob: "*.{ts,js}"
      run: >-
        npx eslint --fix {staged_files}
        && git add {staged_files}
    4_build-readme:
      # If any file other than "{REPO_ROOT}/README.md" is staged, build README.md
      # Note: README.md files in subdirectories are included
      files: git diff --name-only --cached | grep -Fvx README.md || true
      run: >-
        npx run-s build:readme
        && git add ./README.md

Use the `npm run ...` command instead of the `npx run-s ...` command
  lefthook.yml
Due: 1_prettier

🔧 Parallel execution of automatic formatting
  lefthook.yml
Due: 1_prettier

🔧 Use npm v7 in this project
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

💥 Drop support for Node.js 10 and 12
  CHANGELOG.md
  README.md
  package.json
Due: 1_prettier, 2_format-package-json

⬆️ Update dependency @types/node to v14.x
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

♻️ Use new features of builtin `fs` module in test code
  test/helpers/git-server.ts
  test/helpers/git.ts
  test/helpers/index.ts
  test/index.ts
Due: 3_eslint

➖ Remove dev dependencies: del, make-dir
  CHANGELOG.md
  package.json
Due: 1_prettier, 2_format-package-json

♻️ Use new features of builtin `fs` module in src code
  src/utils.ts
Due: 3_eslint

🏷️ Fix type errors
  tsconfig.json
  types.node_modules/node-git-server.d.ts
Due: 1_prettier, 3_eslint

➕ Add dev dependency: @tsconfig/node14
  CHANGELOG.md
  package-lock.json
  package.json
  tsconfig.json
Due: 1_prettier, 2_format-package-json

📝 Update CHANGELOG
  CHANGELOG.md
Due: none

👷 Auto approve Pull Requests from admins who do not have any friends
  .github/workflows/pr-auto-approve.yaml
Due: 1_prettier

💥 Drop support for Node.js 10 and 12 (#186)
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  src/utils.ts
  test/helpers/git-server.ts
  test/helpers/git.ts
  test/helpers/index.ts
  test/index.ts
  tsconfig.json
  types.node_modules/node-git-server.d.ts
Due: 1_prettier, 2_format-package-json, 3_eslint

💚 Fix .github/workflows/pr-auto-approve.yaml
  .github/workflows/pr-auto-approve.yaml
Due: 1_prettier

👷 Auto approve Pull Requests from admins who do not have any friends (#187)
  .github/workflows/pr-auto-approve.yaml
  CHANGELOG.md
Due: 1_prettier

👽 Regenerate package-lock.json
  README.md
  package-lock.json
Due: 1_prettier

📌 Fix dependency version: pin "cac" package version to 6.6.1
  README.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

🔧 Regenerate package-lock.json
  package-lock.json
Due: 1_prettier

💚 Using npm packages installed by the `github:` protocol on GitHub Actions
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Use bash in "Reconfigure git to use HTTP authentication" steps
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Enable Corepack on GitHub actions
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Fix the location of comments in the .github/workflows/ci.yaml file
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Manage npm with Corepack
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Fix "Enable Corepack (Automatically setup a package manager for Node.js)" jobs
  .github/workflows/ci.yaml
Due: 1_prettier

✅ Fix the test code
  test/index.ts
Due: 3_eslint

💚 Avoid ENOTEMPTY errors thrown by Corepack
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Explore why built-in Corepack cannot be detected on Windows
  .github/workflows/ci.yaml
Due: 1_prettier

⏪ Revert "💚 Explore why built-in Corepack cannot be detected on Windows"
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Fix conditional expression to detect builtin Corepack
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Find out why builtin Corepack detection fails
  .github/workflows/ci.yaml
Due: 1_prettier

⏪ Revert "💚 Find out why builtin Corepack detection fails"
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Fix Corepack installation failure on Windows
  .github/workflows/ci.yaml
Due: 1_prettier
