Repository sounisi5011/package-version-git-tag: changes, and which lefthook commands are due for each by the changed paths.
All: 1_prettier, 2_format-package-json, 3_eslint

lefthook.yml:

pre-commit:
  piped: true

  # Always prints the output of each command.
  # This allows the error log to be checked even if the command becomes busy.
  follow: true

  commands:
    0_test-readme:
      # If "{REPO_ROOT}/README.md" is staged, test it
      # Note: README.md files in subdirectories are not included
      files: git diff --name-only --cached | grep -Fx README.md || true
      run: npx run-s test:readme
    1_prettier:
      glob: "*.{js,json,yaml,yml}"
      run: >-
        npx prettier --write {staged_files}
        && git add {staged_files}
    2_format-package-json:
      # Note: If "package.json" is specified, only the root package.json file will be included.
      #       If "**/package.json" is specified, only package.json files in subdirectories will be included.
      #       To include both, it appears that the "{,**/}package.json" pattern should be used.
      glob: "{,**/}package.json"
      run: >-
        npx prettier-package-json --write {staged_files}
        && npx sort-package-json {staged_files}
        && git add {staged_files}
    3_eslint:
      glob: "*.{ts,js}"
      run: >-
        npx eslint --fix {staged_files}
        && git add {staged_files}
    4_build-readme:
      # If any file other than "{REPO_ROOT}/README.md" is staged, build README.md
      # Note: README.md files in subdirectories are included
      files: git diff --name-only --cached | grep -Fvx README.md || true
      run: >-
        npx run-s build:readme
        && git add ./README.md

💚 Modify the shell script for the "Enable Corepack" step
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Fix problem with npm version not changing on Windows
  .github/workflows/ci.yaml
Due: 1_prettier

💚 If Corepack is not available, manually update npm
  .github/workflows/ci.yaml
Due: 1_prettier

💚 If Corepack is not available, disable Corepack
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Modify the print content of the "Enable Corepack" step
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Add comments for future contributors within the "Enable Corepack" steps
  .github/workflows/ci.yaml
Due: 1_prettier

💚 If yarn is not available, install it
  .github/workflows/ci.yaml
Due: 1_prettier

⬆️ Update dependency ava to 3.15.0
  CHANGELOG.md
  ava.config.js
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json, 3_eslint

⬆️ Update dependency typescript to 4.9.5
  CHANGELOG.md
  package-lock.json
  package.json
  tsconfig.json
Due: 1_prettier, 2_format-package-json

⬆️ Update dependencies: eslint packages
  .eslintrc.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

⬆️ Update dependency node-git-server to 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
  test/helpers/git-server.ts
  tsconfig.json
  types.node_modules/node-git-server.d.ts
Due: 1_prettier, 2_format-package-json, 3_eslint

⬆️ Update dependency ts-node to 10.9.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1_prettier, 2_format-package-json

🔧 Use `@typescript-eslint/recommended-requiring-type-checking` and `@typescript-eslint/strict` in ESLint config
  .eslintrc.yml
Due: 1_prettier

♻️ Fix code following new TypeScript and ESLint reports
  src/bin.ts
  src/git.ts
  src/index.ts
  src/utils.ts
  test/helpers/exec.ts
  test/helpers/git.ts
  test/index.ts
Due: 3_eslint

🔧 Fix patch file to make `check-peer-deps@1.1.3` detect peerDependenciesMeta
  patches/check-peer-deps+1.1.3.patch
Due: none

✅ Display npm version during test run
  test/index.ts
Due: 3_eslint

🔧 Increase test timeout to 5 minutes
  ava.config.js
Due: 1_prettier, 3_eslint

✅ Use `execa` instead of `cross-spawn`
  CHANGELOG.md
  package-lock.json
  package.json
  test/helpers/exec.ts
  test/helpers/git.ts
  test/index.ts
Due: 1_prettier, 2_format-package-json, 3_eslint

💚 [Debug] Check npm version in different shells
  .github/workflows/ci.yaml
Due: 1_prettier

💚 [Debug] Check npm version using execa
  .github/workflows/ci.yaml
Due: 1_prettier

💚 [Debug] Display the path where the npm command exists
  .github/workflows/ci.yaml
Due: 1_prettier

💚 On Windows, update npm using `npm-windows-upgrade`
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Run `npm-windows-upgrade` using the `npx` command
  .github/workflows/ci.yaml
Due: 1_prettier

💚 [Debug] Try `npm install --global ...` command instead of `npm-windows-upgrade`
  .github/workflows/ci.yaml
Due: 1_prettier

⏪ Revert "💚 [Debug] Try `npm install --global ...` command instead of `npm-windows-upgrade`"
  .github/workflows/ci.yaml
Due: 1_prettier

⏪ Revert "💚 [Debug] Display the path where the npm command exists"
  .github/workflows/ci.yaml
Due: 1_prettier

⏪ Revert "💚 [Debug] Check npm version using execa"
  .github/workflows/ci.yaml
Due: 1_prettier

⏪ Revert "💚 [Debug] Check npm version in different shells"
  .github/workflows/ci.yaml
Due: 1_prettier

⏪ Revert "✅ Display npm version during test run"
  test/index.ts
Due: 3_eslint

💚 Move "Update to the specified npm (on Windows)" steps before "Update to the specified npm" steps
  .github/workflows/ci.yaml
Due: 1_prettier

💚 Rename the steps for install the specified npm
  .github/workflows/ci.yaml
Due: 1_prettier

💚 [Debug] Display npm version in npm-scripts
  .github/workflows/ci.yaml
  README.md
  package.json
Due: 1_prettier, 2_format-package-json

⏪ Revert "💚 [Debug] Display npm version in npm-scripts"
  .github/workflows/ci.yaml
  README.md
  package.json
Due: 1_prettier, 2_format-package-json

💚 [Debug] Display npm versions in various Node.js
  .github/workflows/ci.yaml
  README.md
  package.json
  test/index.ts
Due: 1_prettier, 2_format-package-json, 3_eslint

💚 [Debug] Strictly check the npm version
  test/index.ts
Due: 3_eslint

💚 [Debug] Try to update npm with `npm install --global ...` command in all Node.js
  .github/workflows/ci.yaml
Due: 1_prettier

⏪ Revert "💚 [Debug] Try to update npm with `npm install --global ...` command in all Node.js"
  .github/workflows/ci.yaml
Due: 1_prettier

💚 On Windows, use the `npx npm-windows-upgrade` command instead of the `npm install --global npm` command in all Node.js
  .github/workflows/ci.yaml
Due: 1_prettier
